img{width: 250px; margin: 20px; border: 2px solid black;}

h1{ font-size: 60px; margin-bottom: 50px; font-family: 'Raleway', sans-serif;}

body{background: lightgray; padding: 50px;}

main { 
    width: 1000px;
    margin: 0 auto;
}